.body {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.header, .footer {
    background-color: #333;
    color: #f0f0f0;
}

.button {
    background-color: #5c5c5c;
    color: #f0f0f0;
}

.a {
    color: #4aa3f4;
}